.skills-section {
  margin-bottom: 100px;
  background-color: snow;
  text-align: center;
}

.skills-heading {
  font-size: 32px;
  color: black;
  margin-left: 200px;
  margin-bottom: 50px;
  text-align: left;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;

  padding: 0 200px;
}

.skills-category-card {
  background-color: black;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  height: 300px;
  border-bottom: 9px solid transparent;
}

.skills-category-card:hover {
  border-color: #00FFC4;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  z-index: 9;
}

.category-title {
  font-size: 1.2rem;
  color: #00FFC4;
  margin-bottom: 25px;
  text-align: left;
  width: 100%;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.skill-item {
  font-size: 1.1rem;
  color: white;
  padding: 12px 0;
  border-bottom: 1px dashed #eee;
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide {
  display: none;
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 25px;
    margin: 50px auto 20px 20px;

    justify-content: baseline;
  }

  .skills-container {

    display: grid;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 20px;
    max-width: 350px;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;

  }

  .skills-category-card {
    min-width: 200px;
    height: 250px;
    border-radius: 6px;


  }

  .skills-container :hover {
    border-bottom: 2px solid #00FFC4;
  }

  .category-title {
    font-size: 15px;
    margin-bottom: 1px;
  }

  .skill-item {
    font-size: 10px;
  }

  .skills-section {
    margin-bottom: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .slide {
    display: block;
  }

  .slide img {
    font-size: 15px;
    color: #000000;
    display: flex;
    justify-self: end;
    padding: 5px;
    width: 50px;
  }

}

