body {
    background-color: snow
}

#about {

    justify-self: center;
    display: flex;
    background-color: snow;
    font-family: "Mozilla Text", sans-serif;
    padding-left: 40px;
    padding-right: 40px;

}

.container-about{
    display: flex;
    align-items: center;
    max-width:600px ;
}

.text {
    margin-top: 40px;
    font-size: 2rem;
    margin-left: 30px;
    margin-bottom: 0px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-text {
    margin-top: 80px;
    flex: 2;
    text-align: justify;

}


.shortintro {
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;

}


.about-text p {
    margin-bottom: 1rem;
}

.about-stats {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
    align-items: center;
    color: white;
}

.stat-card {
    background-color: #101114;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    max-width: 200px;
    max-height: 120px;
  
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.stat-card h3 {
    font-size: 2.5rem;
    color: var(--accent-color);
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;

}

.stat-card p {
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 768px) {

    #about {
        width: 100vw;
        display: grid;
    }

    .container-about {
        max-width: 90vw;
    }

    .about-stats {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 2rem;
        justify-self: center;
    }

    p.shortintro {
        text-align: justify;
        font-size: 10px;
        min-width: 300px;

    }


    .stat-card {

        width: 6rem;
        height: 5rem;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 6px;



    }

    .stat-card h3 {
        font-size: 20px;
        margin-bottom: 2px;
        align-self: center;
        text-align: center;
    


    }

    .stat-card p {
        font-size: 10px;
        align-self: baseline;
    }

    .text {
        font-size: 25px;
        margin-bottom: 0px;
        margin-left: 20px;
    }



}
